{% extends 'common_navbar.html' %}

{% block head %}
%% super() %%
{% endblock head %}

{% block title %}Login page{% endblock title %}

{% block body %}
%% super() %%
<script type="module" src="static/login.js"></script>
{% endblock body %}

{% block content %}
%% super() %%
<div class="container-fluid" id = "login">
	<form class = "position-absolute top-50 start-50 translate-middle bg-subtle">
		<div class="row">
			<div class = "col">
				<div class="form-outline mb-4">
					<input type="email" id="email" class="form-control" v-model = "email" />
					<label for="email" class="form-label">Email</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class = "col">
				<div class="form-outline mb-4">
					<input type="password" id="password" class="form-control" v-model = "password"/>
					<label for="password" class="form-label">Password</label>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col">
				<button type = "button" class = "btn btn-primary" v-on:click = "loginUser">Sign in</button>
			</div>
		</div>
	</form>
</div>

{% endblock content %}