{% extends 'common_navbar.html' %}

{% block head %}
%% super() %%
{% endblock head %}

{% block title %}Logout page{% endblock title %}

{% block body %}
%% super() %%
<script type = "module" src = "static/logout.js"></script>
{% endblock body %}

{% block content %}
%% super() %%
<div class = "container-fluid" id = "logout">
	<div class = "row">
		<div class = "col"></div>
		<div class = "col">
			<h3 class = "display-3 text-centre" id = "heading">Log out of your account</h3>
		</div>
		<div class = "col"></div>
	</div>
	<div class = "row">
		<div class = "col"></div>
		<div class = "col">
			<p class = "lead text-centre" id = "para">Confirm that you want to log out of your account.</p>
		</div>
		<div class = "col"></div>
	</div>
	<div class = "row">
		<div class = "col"></div>
		<div class = "col"></div>
		<div class = "col"></div>
		<div class = "col">
			<button class = "btn btn-primary" id = "abutton" v-on:click = "logoutUser">Logout</button>
		</div>
		<div class = "col"></div>
		<div class = "col"></div>
		<div class = "col"></div>
	</div>
</div>
{% endblock content %}