<!DOCTYPE html>
<html>
	<head>
		<title>Signup choice</title>
	</head>
	<body>
		<h1>Choose whether to signup as a sponsor or as an influencer.</h1>
		<form method = "post" name = "thechoice">
			<label for="sponsor">Sponsor</label>
			<input id = "sponsor" name = "choice" type="radio" value="sponsor">
			<label for="influencer">Influencer</label>
			<input id = "influencer" name = "choice" type = "radio" value = "influencer">
			<input type = "submit" value = "Submit">
		</form>
	</body>
</html>