<!DOCTYPE html>
<html>
	<head>
		<title>Influencer signup</title>
	</head>
	<body>
		<h1>Welcome, influencer</h1>
		<form method = 'post' name = 'influencer'>
			<input type="text" name = "username" id = "username">
			<label for = "username">Username</label>
			<input type = "email" name = "email" id = "email">
			<label for = "email">Email</label>
			<input type = "password" name = "password" id = "password">
			<label for = "password">Password</label>
			<input type = "password" name = "password2" id = "password2">
			<label for = "password2">Confirm password`</label>
			<input type = "text" name = "name" id = "name">
			<label for = "name">Name</label>
			<input type = "text" name =  "category" id = "category">
			<label for = "category">Category</label>
			<input type = "text" name = "niche" id = "niche">
			<label for = "niche">Niche</label>
			<input type = "number" name = "yt" id = "yt">
			<label for = "yt">YouTube Followers</label>
			<input type = "number" name = "ig" id = "ig">
			<label for = "ig">Instagram Followers</label>
			<input type = "number" name = "x" id = "x">
			<label for = "x">X Followers</label>
			<input type = "submit" name = "Submit">
		</form>
	</body>
</html>