{% extends 'common_navbar.html' %}

{% block head %}
%% super() %%
{% endblock head %}

{% block title %}Signup page{% endblock title %}

{% block body %}
%% super() %%
{% endblock body %}

{% block content %}
%% super() %%
<div class="container-fluid" id="signup">
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<h3 class="display-5 text-centre">Register on Eyecatchers</h1>
		</div>
		<div class="col"></div>
	</div>
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<p class="lead text-centre">Choose whether to register as a sponsor or as an influencer.</p>
		</div>
		<div class="col"></div>
	</div>
	<div class="btn-group position-relative start-50 translate-middle" role="group"
		aria-label="Basic radio toggle button group">
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
					v-on:click="toggleSponsor">
				<label class="btn btn-outline-primary" for="btnradio1">Sponsor</label>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
					v-on:click="toggleInfluencer">
				<label class="btn btn-outline-primary" for="btnradio2">Influencer</label>
			</div>
			<div class="col"></div>
		</div>
	</div>
	<form name="details" class="position-relative">
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible sponsor">
					<input type="email" class="form-control" id="email" v-model="email" />
					<label for="email" class="form-label">Email</label>
				</div>
			</div>
			<div class="col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible influencer">
					<input type="email" class="form-control" id="email2" v-model="email" />
					<label for="email2" class="form-label">Email</label>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible sponsor">
					<input type="password" class="form-control" id="password1" v-model="password1" />
					<label for="password1" class="form-label">Password</label>
				</div>
			</div>
			<div class="col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible influencer">
					<input type="password" class="form-control" id="password11" v-model="password1" />
					<label for="password11" class="form-label">Password</label>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible sponsor">
					<input type="password" class="form-control" id="password2" v-model="password2" />
					<label for="password2" class="form-label">Confirm password</label>
				</div>
			</div>
			<div class="col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible influencer">
					<input type="password" class="form-control" id="password21" v-model="password2" />
					<label for="password21" class="form-label">Confirm password</label>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible sponsor">
					<input type="text" class="form-control" id="name" v-model="name" />
					<label for="name" class="form-label">Name</label>
				</div>
			</div>
			<div class="col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible influencer">
					<input type="text" class="form-control" id="name1" v-model="name" />
					<label for="name1" class="form-label">Name</label>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible sponsor">
					<input type="text" class="form-control" id="industry" v-model="industry" />
					<label for="industry" class="form-label">Industry</label>
				</div>
			</div>
			<div class="col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible influencer">
					<input type="text" class="form-control" id="category" v-model="category" />
					<label for="category" class="form-label">Category</label>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<button type="button" class="btn btn-primary position-relative translate-middle start-50 invisible sponsor"
					v-on:click="signupUser" name="button">Sign up</button>
			</div>
			<div class="col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible influencer">
					<input type="text" class="form-control" id="niche" v-model="niche" />
					<label for="niche" class="form-label">Niche</label>
				</div>
			</div>
			<div class = "col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class = "col"></div>
			<div class = "col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible influencer">
					<input type="number" class="form-control" id="yt" v-model="yt" />
					<label for="yt" class="form-label">YouTube Followers</label>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class = "col"></div>
			<div class = "col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible influencer">
					<input type="number" class="form-control" id="x" v-model="x" />
					<label for="x" class="form-label">X Followers</label>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class = "col"></div>
			<div class = "col"></div>
			<div class="col">
				<div class="form-outline mb-4 invisible influencer">
					<input type="number" class="form-control" id="ig" v-model="ig" />
					<label for="ig" class="form-label">Instagram Followers</label>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</form>
	<div class="row"></div>
	<div class="col"></div>
	<div class = "col"></div>
	<div class = "col"></div>
	<div class="col">
		<button type="button" class="btn btn-primary position-relative translate-middle start-50 invisible influencer"
			v-on:click="signupUser" name="button">Sign up</button>
	</div>
	<div class="col"></div>
</div>
</div>
<script type="module" src="static/signup.js"></script>"
{% endblock content %}