<!DOCTYPE html>
<html>
	<head>
		<title>Create campaign</title>
	</head>
	<body>
		<h1>Enter campaign details</h1>
		<form method = "post">
			<input type = "text" id = "name" name = "name">
			<label for = "name">Campaign name</label>
			<input type = "text" id = "description" name = "description">
			<label for = "description">Description</label>
			<input type = "date" id = "start" name = "start_date">
			<label for = "start">Start date</label>
			<input type = "date" id = "end" name = "end_date">
			<label for = "end">End date</label>
			<input type = "number" id = "budget" name = "budget">
			<label for = "budget">Campaign budget</label>
			<input type = "text" id = "niche" name = "niche">
			<label for = "niche">Niche</label>
			<input type = "radio" id = "public" name = "visibility" value = "public">
			<label for = "public">Public</label>
			<input type = "radio" id = "private" name = "visibility" value = "private">
			<label for = "private">Private</label>
			<input type = "text" id = "goals" name = "goals">
			<label for = "goals">Campaign goals</label>
			<input type = "submit" name = "submit" id = "submit">
			<label for = "submit">Submit</label>
		</form>
	</body>
</html>