<!DOCTYPE html>
<html>
	<head>
		<title>Search for influencers</title>
	</head>
	<body>
		<h1>Specify criteria and value for search.</h1>
		<form method = 'post'>
			<input type = "radio" name = "criteria" id = "name" value = "name">
			<label for = "name">Name of influencer</label>
			<input type = "radio" name = "criteria" id = "category" value = "category">
			<label for = "category">Influencer category</label>
			<input type = "radio" name = "criteria" id = "niche" value = "niche">
			<label for = "niche">Influencer Niche</label>
			<input type = "radio" name = "criteria" id = "yt" value = "yt">
			<label for = "yt">Number of YouTube followers</label>
			<input type = "radio" name = "criteria" id = "ig" value = "ig">
			<label for = "ig">Number of Instagram followers</label>
			<input type = "radio" name = "criteria" id = "x" value = "x">
			<label for = "x">Number of X followers</label>
			<input type = "text" name = "value" id = "value">
			<label for = "value">Specify value for search.</label>
			<input type = "submit" name = "submit">
		</form>
	</body>
</html>