<!DOCTYPE html>
<html>
	<head>
		<title>Update campaign</title>
	</head>
	<body>
		<h1>Update campaign details</h1>
		<form method = "post">
			<input type = "text" id = "name" name = "name" placeholder="{{thelist[1]}}">
			<label for = "name">Campaign name</label>
			<input type = "text" id = "niche" name = "niche" placeholder="{{thelist[2]}}">
			<label for = "niche">Niche</label>
			<input type = "text" id = "description" name = "description" placeholder="{{thelist[3]}}">
			<label for = "description">Description</label>
			<input type = "date" id = "start" name = "start_date" placeholder="{{thelist[5]}}">
			<label for = "start">Start date</label>
			<input type = "date" id = "end" name = "end_date" placeholder="{{thelist[6]}}">
			<label for = "end">End date</label>
			<input type = "number" id = "budget" name = "budget" placeholder="{{thelist[7]}}">
			<label for = "budget">Campaign budget</label>
			<input type = "radio" id = "public" name = "visibility" value = "public">
			<label for = "public">Public</label>
			<input type = "radio" id = "private" name = "visibility" value = "private">
			<label for = "private">Private</label>
			<input type = "text" id = "goals" name = "goals" placeholder="{{thelist[9]}}">
			<label for = "goals">Campaign goals</label>
			<input type = "submit" name = "submit" id = "submit">
			<label for = "submit">Submit</label>
		</form>
	</body>
</html>