<!DOCTYPE html>
<html>
	<head>
		<title>Update ad request</title>
	</head>
	<body>
		<h1>Update ad request details</h1>
		<form method = "post">
			<input type = "text" id = "requirements" name = "requirements" placeholder="{{thelist[0]}}">
			<label for = "requirements">Ad request requirements</label>
			<input type = "number" id = "payment_amount" name = "payment_amount" placeholder="{{thelist[1]}}">
			<label for = "payment_amount">Payment amount</label>
			<input type = "radio" id = "ongoing" name = "status" value = "ongoing">
			<label for = "ongoing">Ongoing</label>
			<input type = "radio" id = "abandoned" name = "status" value = "abandoned">
			<label for = "abandoned">Abandoned</label>
			<input type = "submit" name = "submit" id = "submit">
			<label for = "submit">Submit</label>
		</form>
	</body>
</html>