{% extends 'dash_navbar.html' %}

{% block head %}
%% super() %%
{% endblock head %}

{% block title %}Approve sponsor{% endblock title %}

{% block body %}
%% super() %%
<script type="module" src="%% url_for('static', filename = 'approve_sponsor.js') %%"></script>
{% endblock body %}

{% block content %}
%% super() %%
<div class="container-fluid" id="approve">
	{% if listlength is eq(0) %}
		<h1>There are no more sponsors left to approve.</h1>
	{% else %}
	{% for i in thelist %}
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<input type="radio" id= "%%i[0]%%" value = "%% i[0] %%" v-model = "id">
			<label for = "%%i[0]%%" class = "form-label"> Sponsor ID : %% i[0] %%, Name : %% i[1] %%, Industry : %% i[2] %% </label>
		</div>
		<div class = "col"></div>
	</div>
	{% endfor %}
	<div class = "row">
		<div class = "col"></div>
		<div class = "col">
			<button type = "button" class = "btn btn-primary" v-on:click = "approveSponsor">Approve sponsor</button>
		</div>
		<div class = "col"></div>
	</div>
	{% endif %}
</div>
{% endblock content %}