{% extends 'dash_navbar.html' %}

{% block head %}
%% super() %%
{% endblock head %}

{% block title %}Admin dashboard{% endblock title %}

{% block body %}
%% super() %%
{% endblock body %}

{% block content %}
%% super() %%
<div class="container-fluid">
	<div class="row">
		<div class = "col"></div>
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<div class="card bg-info text-white text-center mb-4" onclick = "window.location.href = '/admin/stats'">
				<div class="card-body">
					<h5 class = "card-title">Admin stats</h5>
					<p>Click here to check how many users are present, how many pending sponsor approvals are there, how many campaigns exist, etc.</p>
				</div>
			</div>
		</div>
		<div class = "col"></div>
	</div>
	<div class="row">
		<div class = "col"></div>
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<div class="card bg-info text-white text-center mb-4" onclick = "window.location.href = '/admin/approve_sponsor'">
				<div class="card-body">
					<h5 class = "card-title">Admin approve sponsor</h5>
					<p>Click here to approve of any pending sponsors.</p>
				</div>
			</div>
		</div>
		<div class = "col"></div>
	</div>
</div>
{% endblock content %}