{% extends 'dash_navbar.html' %}

{% block head %}
%% super() %%
{% endblock head %}

{% block title %}Remove flagged{% endblock title %}

{% block body %}
%% super() %%
{% endblock body %}

{% block content %}
%% super() %%
<div class = "container-fluid" id = "removed">
	{% if listlength is eq(0) %}
		<h1>There are no users flagged.</h1>
	{% else %}
		{% for i in thelist %}
			<div class = "row">
				<div class = "col"></div>
				<div class = "col">
					<p class = "lead text-centre">User id: %% i[0] %%, Reason: %% i[1] %%, Flagged by: %% i[2] %%</p>
				</div>
				<div class = "col">
					<button type = "button" class = "btn btn-primary" v-on:click = "removeFlag(%% i[0] %%)">Remove flag</button>
				</div>
				<div class = "col">
					<button type = "button" class = "btn btn-primary" v-on:click = "removeUser(%% i[0] %%)">Remove User</button>
				</div>
				<div class = "col"></div>
			</div>
		{% endfor %}
	{% endif %}
</div>

<script type = "module" src = "%% url_for('static', filename = 'remove_flagged.js') %%"></script>
{% endblock content %}