{% extends 'dash_navbar.html' %}

{% block head %}
%% super() %%
{% endblock head %}

{% block title %}Admin stats{% endblock title %}

{% block body %}
%% super() %%
<script type="module" src="%% url_for('static', filename = 'adminstats.js')%%"></script>
{% endblock body %}

{% block content %}
%% super() %%
<div class="container-fluid" id="stats">
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<button type="button" id = "buttons" class="btn btn-primary visible" v-on:click="getStats">Get stats</button>
		</div>
		<div class="col"></div>
	</div>
	<div class="row" id="row1">
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<div class="card bg-info text-white text-center mb-4 someclass invisible">
				<div class="card-body">
					<h5 class="card-title">Number of users : {{ this.users }}</h5>
					<p>Total number of users in the database. This includes admin, influencers and sponsors.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<div class="card bg-info text-white text-center mb-4 someclass invisible">
				<div class="card-body">
					<h5 class="card-title">Number of sponsors : {{ this.sponsors }}</h5>
					<p>Total number of sponsors in the database. This includes both approved and yet-to-be approved
						sponsors.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<div class="card bg-info text-white text-center mb-4 someclass invisible">
				<div class="card-body">
					<h5 class="card-title">Number of influencers : {{ this.influencers }}</h5>
					<p>Total number of influencers in the database.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="row2">
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<div class="card bg-info text-white text-center mb-4 someclass invisible">
				<div class="card-body">
					<h5 class="card-title">Number of ad requests : {{ this.ads }}</h5>
					<p>Total number of ad requests made using the app.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0 ">
			<div class="card bg-info text-white text-center mb-4 someclass invisible">
				<div class="card-body">
					<h5 class="card-title">Number of campaigns : {{ this.campaigns }}</h5>
					<p>Total number of campaigns made by sponsors. This includes private and public campaigns.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<div class="card bg-info text-white text-center mb-4 someclass invisible">
				<div class="card-body">
					<h5 class="card-title">Number of public campaigns : {{ this.public }}</h5>
					<p>Total number of public campaigns on the app.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="row3">
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<div class="card bg-info text-white text-center mb-4 someclass invisible">
				<div class="card-body">
					<h5 class="card-title">Number of flagged users : {{ this.flagged }}</h5>
					<p>Total number of users who have been flagged on the app.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<div class="card bg-info text-white text-center mb-4 someclass invisible">
				<div class="card-body">
					<h5 class="card-title">Number of unapproved sponsors : {{ this.unapproved }}</h5>
					<p>Total number of sponsors who are yet to be approved of.</p>
				</div>
			</div>
		</div>
	</div>
		{% endblock content %}