{% extends 'common_navbar.html' %}

{% block head %}
%% super() %%
{% endblock head %}

{% block title %}About{% endblock title %}

{% block body %}
%% super() %%
{% endblock body %}

{% block content %}
%% super() %%
<div class = "container-fluid">
	<div class = "row">
		<div class = "col">
			<h1 class = "display-3 text-center">Eyecatchers</h1>
		</div>
	</div>
	
	<div class = "row position-absolute top-50 start-50 translate-middle">
		<p class = "lead text-center">This is an app that connects sponsors who want to advertise their products in the best way possible with the influencers who have the reach and the nous to do just that.
			The app lets users to register as either a sponsor or an influencer. 
			Sponsors can create campaigns for any product that they may have, and send ad requests to an influencer of their choice.
			The influencer can either accept or reject the ad request.
			An admin will need to approve a sponsor before they can use the app.
		</p>
	</div>
	
</div>
{% endblock content %}